.layout {
  min-height: 100vh;
  background: #F2F2F2;
}

/* ===================================== */
/* NAVBAR */
/* ===================================== */

.navbar {
  background: #111111;

  color: white;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 15px 25px;

  position: sticky;

  top: 0;

  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #D9A441;
}

.menu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;

  display: flex;
  align-items: center;

  height: 40px;
}
.menu a:hover {
  color: #D9A441;
}

.contenido {
  padding: 25px;
}

.btn-logout {
  background: #D9A441;
  color: white;

  border: none;

  height: 40px;

  padding: 0 14px;

  border-radius: 8px;

  cursor: pointer;

  font-weight: 600;

  display: flex;
  align-items: center;
}

.btn-logout:hover {
  background: #E8C46A;
}

/* ===================================== */
/* HAMBURGUESA */
/* ===================================== */

.menu-toggle {
  display: none;

  background: none;

  border: none;

  color: white;

  font-size: 28px;

  cursor: pointer;
}

/* ===================================== */
/* RESPONSIVE */
/* ===================================== */

@media (max-width: 768px) {

  .navbar {
    flex-wrap: wrap;
  }

  .menu-toggle {
    display: block;
  }

  .menu {
    display: none;

    width: 100%;

    flex-direction: column;

    margin-top: 15px;

    gap: 10px;
  }

  .menu.activo {
    display: flex;
  }

  .menu a {
    padding: 10px 0;
  }

  .contenido {
    padding: 15px;
  }
}

